body {
    font-family: 'Inter-Medium','Helvetica','san-serif';
}


/* Header +*/
nav > .container {
    height: 80px;
    justify-content: space-between;
}

nav li {
    font-weight: 600;
    font-size: 18px;
}

.site-logo {
    height: 35px;
}

.main-sec {
    height: 550px;
}

.main-sec p {
    color: darkgray;
    font-size: 25px;
}

.bg-image-main {
    background-image: url("../img/bg-banner-home.jpg");
}

h1 {
    font-size: 65px;
    color: white;
}

.main-sec .col-6 {
    margin: 7% auto;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

form input, form a, form label {
    display: block;
    margin-bottom: 15px;
}

form a {
    margin: unset;
}

#tos {
    display: inline-block;
}

/* Ut */
.flex {
    display: flex;
}

.a-it-center {
    align-items: center;
    justify-content: center;
}

.s-center {
    align-self: center;
}

.s-around {
    justify-content: space-around;
}

.dark-blue {
    color: #082051;
}

a {
    text-decoration: none;
    margin-left: 20px;
}

.fas {
    font-size: 16px;
}