body {
    font-family: 'Inter-Medium','Helvetica','san-serif';
}


/* Header +*/
nav > .container {
    height: 80px;
    justify-content: space-between;
}

nav li {
    font-weight: 600;
    font-size: 18px;
}

.site-logo {
    height: 35px;
}

.main-sec {
    height: 550px;
}

.main-sec p {
    color: darkgray;
    font-size: 24px;
    line-height: 35px;
}

.bg-image-main {
    background-image: url("../img/bg-banner-home.jpg");
}

.main-sec .col-6, .card {
    margin: 7% auto;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 22px;
    text-align: center;
    position: relative;
    top: 1.7rem;
}

.card input {
    width: 100%;
    height: 45px;
    border: 1px solid lightgray;
}

.card input::placeholder {
    padding-left: 5px;
}

.card input::placeholder, form span {
    font-size: 15px;
}

form input, form a, form label {
    display: block;
    margin-bottom: 15px;
}

form h2, a:not(#tos) {
    margin-top: 15px;
    margin-bottom: 10px;
}

form a {
    margin: unset;
}

#tos {
    display: inline-block;
    font-size: 15px;
    margin: 10px 0 15px 0;
    text-decoration: underline;
    color: blue;
}

#signup, #signup-google {
    font-weight: 600;
}

#signup-google img {
    height: 25px;
    position: relative;
    left: -32%;
    top: 1px;
}

#signup-google span{
    vertical-align: super;
}

#signup-google {
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../img/google-icon.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 2%;
}

/* Ut */
h1 {
    font-size: 65px;
}

h2 {
    font-size: 32px;
}

.btn-m {
    padding: 10px;
}

.btn-shad5 {
    box-shadow: 0 0 5px lightgrey;
}

.b-rad5 {
    border-radius: 5px;
}

.flex {
    display: flex;
}

.a-it-center {
    align-items: center;
    justify-content: center;
}

.s-center {
    align-self: center;
}

.s-around {
    justify-content: space-around;
}

.white {
    color: white;
}

.dark-gray {
    color: darkgray;
}

.dark-blue {
    color: #082051;
}

.light-blue {
    color: #006aff;
}

.bg-light-blue-2 {
    background-color: #579aff;
}

a {
    text-decoration: none;
    margin-left: 20px;
}

.fas, #signup, #signup-google {
    font-size: 15px;
}