body {
    font-family: 'Inter-Medium','Helvetica','san-serif';
}


/* Header +*/
nav > .container {
    height: 80px;
    justify-content: space-between;
}

nav li {
    font-weight: 600;
    font-size: 18px;
}

nav ul > li {
    display: inline-block;
}

.site-logo {
    height: 35px;
}

.main-sec {
    height: 550px;
}

.main-sec p {
    color: darkgray;
    font-size: 24px;
    line-height: 35px;
}

.bg-image-main {
    background-image: url("../img/bg-banner-home.jpg");
    background-position: 83%;
    background-size: cover;
}

.main-sec .col-6, .card {
    margin: 7% auto;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 22px;
    text-align: center;
    position: relative;
    top: 1.7rem;
}

.card input {
    width: 100%;
    height: 45px;
    border: 1px solid lightgray;
}

.card input::placeholder {
    padding-left: 5px;
}

.card input::placeholder, form span {
    font-size: 15px;
}

form input, form a, form label {
    display: block;
    margin-bottom: 15px;
}

form h2, a:not(#tos) {
    margin-top: 15px;
    margin-bottom: 10px;
}

form a {
    margin: unset;
}

#tos {
    display: inline-block;
    font-size: 15px;
    margin: 10px 0 15px 0;
    text-decoration: underline;
    color: blue;
}

#signup, #signup-google {
    font-weight: 600;
}

#signup-google img {
    height: 25px;
    position: relative;
    left: -32%;
    top: 1px;
}

#signup-google span{
    vertical-align: super;
}

#signup-google {
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../img/google-icon.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 2%;
}

.comp-sec h4 {
    margin: 50px 0 15px 0;
}

#c-sto::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f531";
    font-size: 11px;
    color: #006aff;
    margin-left: 15px;
}

#comp-logos img {
    margin: 0 5px;
}

.info1 h3, .dev-sec h3 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 60px;
    padding: 0px 1.5%;
}

.deploy-list {
    border-left: 2px solid darkgrey;
    font-size: 20px;
}

.deploy-list li {
    padding: 15px 0;
    margin-left: -5px;
}

.info1 > .row {
    margin-bottom: 80px;
}

.info1 [class*="col-"] > .row {
    margin-left: 25px;
}

.info1 .info-col {
    padding: 10px;
}

.info1 [class*="col-"] p {
    width: 82%;
    line-height: 23px;
    font-size: 18px;
}

.info1 h4 {
    text-transform: unset;
    font-size: 22px;
    margin: 10px 0;
}

.dev-sec h3 {
    margin-top: 30px;
}

.dev-sec img {
    width: 47%;
}

.dev-sec .flex {
    justify-content: center;
}

.dev-sec .fas {
    align-self: center;
    font-size: 50px;
    margin: 0 30px;
}

.dev-sec [class*="left"] {
    filter: opacity(0.6);
}

.dev-sec h4 {
    text-transform: unset;
    margin-top: 25px;
}

.circles {
    margin: 15px 0 70px 0;
}

.circles > i {
    margin: unset !important;
    font-size: 13px !important;
}

.func-sec h2 {
    margin-bottom: 45px;
}

/* Ut */
.text-center {
    text-align: center;
}

li {
    list-style: none;
}

.bold {
    font-weight: 600;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 32px;
}

h4 {
    text-transform: uppercase;
}

.f-40 {
    font-size: 40px;
}

.btn {
    border: 1px solid #006aff;
}

.btn-m {
    padding: 10px;
}

.btn-shad5 {
    box-shadow: 0 0 5px lightgrey;
}

.b-rad5 {
    border-radius: 5px;
}

.flex {
    display: flex;
}

.a-it-center {
    align-items: center;
    justify-content: center;
}

.s-center {
    align-self: center;
}

.s-around {
    justify-content: space-around;
}

.white {
    color: white;
}

.dark-gray {
    color: darkgray;
}

.dark-gray2 {
    color: #6f7b97;
}

.dark-blue {
    color: #082051;
}

.light-blue {
    color: #006aff;
}

.bg-light-blue-2 {
    background-color: #579aff;
}

.bg-light-gray {
    background-color: #f3f5f9;
}

a {
    text-decoration: none;
    margin-left: 20px;
}

.fas, #signup, #signup-google {
    font-size: 15px;
}

.p5 {
    padding: 5px;
}

.p-bot30 {
    padding-bottom: 30px;
}

.p-top100 {
    padding-top: 100px;
}

.m-top20 {
    margin-top: 20px;
}
